{% extends "base.html" %}
{% block content %}
<h1>Resource Library</h1>
<form>
  {{ myFilter.form }}
  <button type="submit">Filter</button>
</form>

<table>
  <thead>
    <tr>
      <td>Tile</td>
      <td>Type</td>
      <td>Date Published</td>
    </tr>
  </thead>
  <tbody>
    {% for resource in resources %}
    <tr>
      <td><a href="{% url 'resource-slug' resource.slug %}">{{ resource.title }}</a></td>
      <td> {{ resource.type }}</td>
      <td> {{ resource.pub_date }} </td>
    </tr>
    {% endfor %}
  </tbody>

</table>
<!-- <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div> -->
{% endblock content %}